<div class="mb-10 text-center">
  <span class="text-3xl font-bold">
    Editing Book
  </span>
</div>

<%= render "form", book: @book %>

<br>

<div class="text-center">
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
</div>
